
h1 {
	margin-top: 100px;
	text-align: center;
}


table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;
}


table td, table th {
    padding: 12px;
    text-align: left;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.2s, box-shadow 0.2s;
}


input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.required {
    color: #dc3545;
    margin-left: 5px;
    font-size: 0.9em;
}


input[type="submit"] {
    appearance: none;
    -webkit-appearance: none;

    padding: 10px 30px;
	border: 2px solid #c6c6c6;
    border-radius: 6px;

    background-color: #dbedff;

    font-size: 16px;
    font-weight: bold;

    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
    background-color: #b2d8ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

