  body {
    background-color: #e8f8e8 !important;
    font-family: "Kosugi Maru", "Meiryo", sans-serif !important;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-top: 100px;
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }

  p{
	margin-left: 20px;
}


th {
	background-color: #fff4ea;
}
td {
	background-color: white;
}

table {
   max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}