/* エラー画面専用のcssだよ */

body{
	margin: 0;
   	padding: 0;
	background-color: #e8f8e8;
	font-family: "Kosugi Maru", "Meiryo", sans-serif;
	}

.header-e {
	background-color: #d2f0d0;
  	display: flex;
  	justify-content: space-between;
   	align-items: center;
  	padding: 15px 40px;
  	border-bottom: 2px solid #b2d8b0;
	}

.logo {
	font-size: 36px;
    color: white;
    text-shadow:-2px -2px 0 #ff9966,
    			2px -2px 0 #ff9966,
      			-2px  2px 0 #ff9966,
       			2px  2px 0 #ff9966;
     white-space: nowrap;
	}

h1 {
	text-align: center;
    color: #ffbf7f;
	}

.in-btn {
	display: inline-block;
  	border-radius: 8px;
  	border: 2px solid #a9a9a9;
  	padding: 20px 20px;
  	background-color: #e5f2ff;
  	text-decoration: none;
  	color: #818181;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  	transition: background-color 0.3s ease;
	}

.in-btn:hover {
 	background-color: #9eceff;
	}