h1 {
	    margin-top: 100px;
	}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
    th, td {
        border: 1px solid #ddd;
        padding: 12px 8px;
        text-align: left;
    }
    th {
        background-color: #fff4ff;
        color: #004D40;
        font-weight: bold;
    }
    td a {
        color: #00796B;
        text-decoration: none;
        font-weight: bold;
    }
    td a:hover {
        text-decoration: underline;
    }
    .container {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px;
        min-height: 500px;
    }
    .no-favorites-message {
        margin-top: 40px;
        padding: 30px;
        border: 1px dashed #ccc;
        text-align: center;
        color: #666;
    }

    .button-container {
        margin-top: 30px;
        text-align: right;
    }
    .button-container a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button-container a:hover {
        background-color: #45a049;
    }