

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
    th, td {
        border: 1px solid #ddd;
        padding: 12px 8px;
        text-align: left;
    }
    th {
        background-color: #fff4ff;
        color: #004D40;
        font-weight: bold;
    }

h2 {
    margin-top: 100px;
    text-align: center;
}

.no-yoyaku {
    margin-top: 50px;
    text-align: center;
    background-color: #c6e2ff;
    padding: 10px 20px;
    color: #007fff;
    border-radius: 6px;
}
.zenbu {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px;
        min-height: 500px;
    }


    .button-container {
        margin-top: 30px;
        text-align: right;
    }
    .button-container a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button-container a:hover {
        background-color: #45a049;
    }
