  body {
    background-color: #e8f8e8 !important;
    font-family: "Kosugi Maru", "Meiryo", sans-serif !important;
    margin: 0;
    padding: 0;
  }


h2{
    margin-top: 100px;
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }


th {
	padding: 15px 10px;
	background-color: #fff4ea;
}
td {
	padding: 15px 10px;
	background-color: white;
}

tr {
	padding: 15px 10px;
	background-color: #f0f0f0;;
}
table {
   max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.shopname {
	margin-top: 20px;
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

  p{
	margin-left: 20px;
}

.yoyaku,
.loginB,
.love,
.kutikomisuru,
.kutikomiru,
.kaijo,
.goback {
    /* マージン */
	margin-top: 10px;
	margin-left: 10px;

    /* レイアウトとサイズ */
 	padding: 10px 20px;
 	border-radius: 5px;
 	display: inline-block;
 	font-size: 16px;

    /* テキスト装飾 */
 	color: black;
 	text-decoration: none;

    /* アニメーション */
 	transition: background-color 0.3s ease;
}
.yoyaku {
 	background-color: #ffeaff; /* 薄いピンク */
 	border: 2px solid #ff89ff; /* 濃いピンク */
}

.yoyaku:hover {
 	background-color: #ffc6ff;
}

/* --------------------------------------
   個別設定: ログインボタン (.loginB)
   -------------------------------------- */
.loginB {
 	background-color: #eaf4ff; /* 薄い青 */
 	border: 2px solid #007bff; /* 濃い青 */
}

.loginB:hover {
 	background-color: #c6e2ff;
}

/* --------------------------------------
   個別設定: お気に入り登録ボタン (.love)
   -------------------------------------- */
.love, .kaijo {
 	background-color: #ffffef; /* 薄い黄色/クリーム色 */
 	border: 2px solid #ffc993; /* オレンジ系 */
}

.love:hover, .kaijo:hover {
 	background-color: #ffffcc;
}

/* --------------------------------------
   個別設定: 口コミボタン (.kutikomisuru, .kutikomiru)
   -------------------------------------- */
.kutikomisuru, .kutikomiru {
 	background-color: #e5f2ff; /* 薄い水色 */
 	border: 2px solid #007bff; /* 濃い青 */
}

.kutikomisuru:hover, .kutikomiru:hover {
 	background-color: #c6e2ff;
}

.backlist {
	margin-left: 20px;
}

.btn {
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	justify-content: center;
}

.sakusesu, .dame {
	margin-top: 20px;
	margin-left: 20px;
	background-color: white;
	width: 230px;
	padding: 10px 20px;
 	border-radius: 5px;
 	font-size: 16px;
}

.goback {
	background-color: #eaf4ff;
 	border: 2px solid #a0a0a0;
}

.goback:hover {
 	background-color: #c6e2ff;
}