
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #FFFFFF;
    border-radius: 8px;

}
    th, td {
        border: 2px solid #c0c0c0;
        padding: 12px 8px;
        text-align: left;
    }
    th {
        background-color: #eff7ff;
        color: #3f3f3f;
        font-weight: bold;
    }

h2 {
    margin-top: 100px;
    text-align: center;
}

.container {
	width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    min-height: 500px;
}

.btn {
	display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;
}

.btn-hensyu {
	text-decoration: none;
    padding: 10px 20px;

    border: 2px solid #c0c0c0;
    border-radius: 4px;
    color: #333;
    background-color: #f4f4ff;

    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-hensyu:hover {
    background-color: #d6d6ff;
}

.btn-modoru {
	text-decoration: none;
    padding: 10px 20px;

    border: 2px solid #c0c0c0;
    border-radius: 4px;
    color: #333;
    background-color: #f4f4ff;

    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-modoru:hover {
    background-color: #d6d6ff;
}

